export TWITTER_EMAIL=""
export TWITTER_USERNAME=""
export TWITTER_PASSWORD=""

export FACEBOOK_EMAIL=""
export FACEBOOK_USERNAME=""
export FACEBOOK_PASSWORD=""

export TWITTER_CONSUMER_KEY=''
export TWITTER_CONSUMER_KEY=''
export TWITTER_ACCESS_TOKEN_KEY=''
export TWITTER_ACCESS_TOKEN_SECRET=''

export FACEBOOK_APP_ID=''
export FACEBOOK_APP_SECRET=''
export FACEBOOK_APP_TOKEN=''

# https://developers.facebook.com/tools/explorer/
export FACEBOOK_USER_TOKEN=''